name: password-generator

services:
  app:
    build:
      context: .
      target: prod
    restart: unless-stopped
    container_name: password-generator
    ports:
      - 3002:3000
    # env_file: ./.env.production
    # environment:
    # - DOTENV_KEY=${DOTENV_KEY} # Set in gihub-actions
